ion-toolbar{
    --padding-top: 15%;
    padding-bottom: 5%;
    color: white;
    white-space: nowrap;

} 

ion-title{
    text-align: center;
    font-size: 110%; 
    font-weight: bold;
    width: 80%;
    margin: auto;
}

ion-toolbar ion-button{
    position: absolute;
    margin-top: -2%; 
    --padding-start : 20%;
    color: white;   
    font-size: 130%;  
}
ion-content{
    text-align: center;
}
#tipo_jogo{
    margin-top: 5%;
}
div{
    margin-bottom: 3%;
}
div>ion-button{
    --color: var(--ion-color-primary);
    --background: var(--ion-color-tertiary);
    --border-color: var(--ion-color-primary);
    --border-style: solid ;
    font-weight: 900;
    --padding-top: 13%;
    --padding-bottom: 13%;
    width: 37%;
    
}
#etapa_eliminatoria_buttons_top>ion-button{
    width: 15%;
    margin-right: 4%;
    --padding-top: 30%;
    --padding-bottom: 30%;
    font-size: 100%; 
}

.raking_oponente_poule{
    --color: var(--ion-color-primary);
    --background: var(--ion-color-tertiary);
    --border-color: var(--ion-color-primary);
    --border-style: solid ;
}
.class_oponente_eliminatoria{
    --color: var(--ion-color-primary);
    --background: var(--ion-color-tertiary);
    --border-color: var(--ion-color-primary);
    --border-style: solid ;
}
 
ion-header{
    background-color: var(--ion-color-primary);
}

ion-list{
    padding-bottom: 0;
    padding-top:0;
    margin-bottom: 2%;
}

h6{ 
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    margin-bottom: 0%;
    font-size: 130%; 
}


hr{
    border-top: 2px solid black;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

ion-item ion-label{
    margin-top: 0;
}

  

#raking_oponente_poule>ion-button{

    margin-top: 2%;
    margin-right: 3%; 
}

#raking_oponente_poule{    
    position: absolute;
    bottom: 10%;
    margin-left: 10%;

}

#class_oponente_eliminatoria>ion-button{
    margin-top: 4%;
    margin-right: 3%; 
}

#class_oponente_eliminatoria{
    position: absolute;
    bottom: 10%;
    margin-left: 3%; 
}

#botao_confirmar{
    position: absolute;
    // padding: blue;
    bottom: 2%;
    margin-left: -17%;

}