<ion-header>
  <ion-toolbar>
    <ion-button shape="round" (click)="voltar()">
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
    </ion-button>
  </ion-toolbar> 
</ion-header>
 
<ion-content>
        <ion-list (click)="presentModal2()">
          <ion-list-header> Oponente </ion-list-header>
          <ion-item>
              <ion-avatar slot="start">
                  <img id="fotoButton2" src="" alt="">
              </ion-avatar>
              <ion-label>
                  <ion-label >Nome: {{nome2}}</ion-label>
                  <ion-label >Clube: {{clube2}}</ion-label>
              </ion-label>
            </ion-item>

        </ion-list>
    

      <ion-button (click)="cadastro()" expand="block" [disabled]="!valido">
         Confirma
      </ion-button>
  

</ion-content>
