<!-- <ion-header color="secondary"> -->
<ion-header>
  <ion-toolbar color="secundary">
    <ion-button id="backButton" fill="clear" (click)="voltar()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>NOVO JOGO</ion-title>
  </ion-toolbar>
</ion-header>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"> </script>

<ion-content color="tertiary">
  
  <!-- <ion-segment  (ionChange)="segmentTipoJogo($event)" value="treinamento" > -->
    <div id="tipo_jogo">
      <ion-button shape="round" class="tipo_jogo" id="treinamento" color="primary" (click)="segmentTipoJogo('treinamento')">
        <ion-label>Treinamento</ion-label>
      </ion-button>
      <ion-button shape="round" class="tipo_jogo" id="campeonato" (click)="segmentTipoJogo('campeonato')">
        <ion-label>Campeonato</ion-label>
      </ion-button>
    </div>
    <!-- <ion-button value="treinamento" shape="round">
      <ion-label>Treinamento</ion-label>
    </ion-button>
    <ion-button value="campeonato" shape="round">
      <ion-label>Campeonato</ion-label>
    </ion-button> -->
    <!-- </ion-segment> -->
    
    <!-- <ion-segment id="etapa_campeonato" (ionChange)="segmentEtapaCampeonato($event)" value="poule"> -->
      <div id="etapa_campeonato">
        <hr width="80%" >
        <div id="etapa_campeonato_buttons">
          <ion-button shape="round" class="etapa_campeonato" id="poule" color="primary" (click)="segmentEtapaCampeonato('poule')">
            <ion-label>Poule</ion-label>
          </ion-button>
          <ion-button shape="round" class="etapa_campeonato" id="eliminatoria" (click)="segmentEtapaCampeonato('eliminatoria')">
            <ion-label>Eliminatória</ion-label>
          </ion-button>
        </div>
      </div>
      <!-- </ion-segment> -->
      
      <!-- <ion-segment id="etapa_eliminatoria" (ionChange)="segmentEtapaEliminatoria($event)" id="64"> -->
        <div id="etapa_eliminatoria">
          <hr width="80%" >
          <div id="etapa_eliminatoria_buttons_top">
            <ion-button shape="round" class="etapa_eliminatoria" id="64" color="primary" (click)="segmentEtapaEliminatoria('64')">
              <ion-label>64</ion-label>
            </ion-button>
            <ion-button shape="round" class="etapa_eliminatoria" id="32" (click)="segmentEtapaEliminatoria('32')">
              <ion-label>32</ion-label>
            </ion-button>
            <ion-button shape="round" class="etapa_eliminatoria" id="16"(click)="segmentEtapaEliminatoria('16')">
              <ion-label>16</ion-label>
            </ion-button>
            <ion-button shape="round" class="etapa_eliminatoria" id="8" (click)="segmentEtapaEliminatoria('8')">
              <ion-label>8</ion-label>
            </ion-button>
          </div>
          <div id="etapa_eliminatoria_buttons_botton">
            <ion-button shape="round" class="etapa_eliminatoria" id="semifinal" (click)="segmentEtapaEliminatoria('semifinal')">
              <ion-label>Semi-final</ion-label>
            </ion-button>
            <ion-button shape="round" class="etapa_eliminatoria" id="final" (click)="segmentEtapaEliminatoria('final')">
              <ion-label>Final</ion-label>
            </ion-button>
          </div>    
        </div>
                 
        <div id="raking_oponente_poule" >
          <hr width="80%" >
          <ion-label>Ranking Oponente <br></ion-label>
          <ion-button class="raking_oponente_poule" shape="round" id="pior_ranqueado" (click)="segmentRakingOponentePoule('pior')" >
            <ion-label>Pior <br> Ranqueado</ion-label>
          </ion-button>
          <ion-button class="raking_oponente_poule" shape="round" id="melhor_ranqueado" (click)="segmentRakingOponentePoule('melhor')" >
            <ion-label>Melhor <br> Ranqueado</ion-label>
          </ion-button>
        </div>
        
        <div id="class_oponente_eliminatoria" >
          <hr width="80%" >
          <ion-label>Classificação Oponente <br></ion-label>
          <ion-button class="class_oponente_eliminatoria" shape="round" id="pior_classificado" (click)="segmentClassOponenteEliminatoria('pior')">
            <ion-label>Pior <br> Classificado</ion-label>
          </ion-button>
          <ion-button class="class_oponente_eliminatoria" shape="round" id="melhor_classificado" (click)="segmentClassOponenteEliminatoria('melhor')">
            <ion-label>Melhor <br> Classificado</ion-label>
          </ion-button>
          <ion-button class="class_oponente_eliminatoria" shape="round" id="equivalente_classificado" (click)="segmentClassOponenteEliminatoria('equivalente')"> 
            <ion-label>Classificação <br> Equivalente</ion-label>
          </ion-button>          
        </div>
        
        <!-- <div footer> -->
          <ion-button shape="round" id='botao_confirmar' (click)="cadastro()" color="secondary">
            Confirmar
          </ion-button>
        <!-- <div> -->
        
      </ion-content>
