
<ion-header >
  <ion-toolbar color="primary">
    <ion-button id="backButton" fill="clear" (click)="voltar()"> 
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-button> 
    <ion-title>Comportamento<br>do oponente</ion-title>      
  </ion-toolbar> 
</ion-header>

<ion-content color='tertiary'>
  
  <ion-item lines="none">
    <ion-label slot="start">Conservador</ion-label>
    <ion-label class="label_end"slot="end" >Ousado</ion-label>
  </ion-item>
  <ion-item lines="none" class="item_range"> 
    <ion-range value="3" min="1" max="5" step="1" snaps="true" (ionChange)="segmentconservador_ousado($event)" mode="ios"> 
    </ion-range>
    <ion-icon name="help" (click)="help('conservador_ousado')"></ion-icon>
  </ion-item> 
  
  <ion-item lines="none">
    <ion-label slot="start">Inconstante</ion-label>
    <ion-label  class="label_end_medio" slot="end">Constante</ion-label>
  </ion-item>
  <ion-item lines="none" class="item_range">
    <ion-range value="3" min="1" max="5" step="1" snaps="true"   (ionChange)="segmentinconstante_constante($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('inconstante_constante')"></ion-icon>
  </ion-item>
  
  
  <ion-item lines="none">
    <ion-label slot="start">Inseguro</ion-label>
    <ion-label  class="label_end" slot="end">Confiante</ion-label>
  </ion-item>
  <ion-item  lines="none" class="item_range"> 
    <ion-range value="3" min="1" max="5" step="1" snaps="true"  (ionChange)="segmentinseguro_confiante($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('inseguro_confiante')"></ion-icon>   
  </ion-item>
  
  <ion-item lines="none">
    <ion-label slot="start">Intimidado</ion-label>
    <ion-label class="label_end_maior" slot="end">Controlado</ion-label>
  </ion-item>
  <ion-item  lines="none" class="item_range">
    <ion-range value="3" min="1" max="5" step="1" snaps="true"   (ionChange)="segmentintimidado_controlado($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('intimidado_controlado')"></ion-icon>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label slot="start">Provocativa</ion-label>
    <ion-label class="label_end_maior" slot="end">Respeitosa</ion-label>
  </ion-item>
  <ion-item  lines="none" class="item_range">
    <ion-range value="3" min="1" max="5" step="1" snaps="true"   (ionChange)="segmentprovocativa_respeitosa($event)" mode="ios"> 
    </ion-range>    
    <ion-icon name="help" (click)="help('provocativa_respeitosa')"></ion-icon>
  </ion-item>
  
  <ion-item lines="none" >
    <ion-label slot="start">Passiva</ion-label> 
    <ion-label  slot="end">Proativa</ion-label>
  </ion-item>
  <ion-item  lines="none" class="item_range">
    <ion-range value="3" min="1" max="5" step="1" snaps="true"  (ionChange)="segmentpassiva_proativa($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('passiva_proativa')"></ion-icon>     
  </ion-item>
  
  <ion-item lines="none" >
    <ion-label slot="start">Estressado</ion-label> 
    <ion-label  slot="end">Calmo</ion-label>
  </ion-item>
  <ion-item  lines="none" class="item_range">
    <ion-range value="3" min="1" max="5" step="1" snaps="true"  (ionChange)="segmentestressado_calmo($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('estressado_calmo')"></ion-icon>     
  </ion-item>

  <ion-item lines="none" >
    <ion-label slot="start">Distraido</ion-label> 
    <ion-label  slot="end">Alerta</ion-label>
  </ion-item>
  <ion-item  lines="none" class="item_range">
    <ion-range value="3" min="1" max="5" step="1" snaps="true"  (ionChange)="segmentdisperso_alerta($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('disperso_alerta')"></ion-icon>     
  </ion-item>

  <ion-item lines="none" id="item_taticamente" >
    <ion-label slot="start">Taticamente <br> disciplinado</ion-label> 
    <ion-label  slot="end" class="label_end_maior_maior">Taticamente <br> indisciplinado</ion-label>
  </ion-item>
  <ion-item  lines="none" class="item_range">
    <ion-range value="3" min="1" max="5" step="1" snaps="true"  (ionChange)="segmenttaticamenteDisciplinado_taticamenteIndisciplinado($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('taticamenteDisciplinado_taticamenteIndisciplinado')"></ion-icon>     
  </ion-item>

  <ion-button id="botao_confirmar" (click)="concluir()" shape="round" color="secondary">
    <!-- [disabled]="!valido"> -->
    Confirmar
  </ion-button>
  
</ion-content>
