<ion-header>
  <ion-toolbar>
    <ion-title>comportamento_oponente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-range min="1" max="3" step="1" snaps="true" color="secondary" (ionChange)="altura($event)">
     <ion-label slot="start">Conservadora</ion-label>
     <ion-label slot="end">Ousada</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="3" step="1" snaps="true" color="secondary" (ionChange)="altura($event)">
     <ion-label slot="start">Inconstante</ion-label>
     <ion-label slot="end">Constante</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="3" step="1" snaps="true" color="secondary" (ionChange)="altura($event)">
     <ion-label slot="start">Inseguro</ion-label>
     <ion-label slot="end">Confiante</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="3" step="1" snaps="true" color="secondary" (ionChange)="altura($event)">
     <ion-label slot="start">Pressionado</ion-label>
     <ion-label slot="end">Controlado</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="3" step="1" snaps="true" color="secondary" (ionChange)="altura($event)">
     <ion-label slot="start">Provocativa</ion-label>
     <ion-label slot="end">Respeitosa</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range min="1" max="3" step="1" snaps="true" color="secondary" (ionChange)="altura($event)">
     <ion-label slot="start">Passiva</ion-label>
     <ion-label slot="end">Ativa</ion-label>
    </ion-range>
  </ion-item>
</ion-content>
