<ion-header >
  <ion-toolbar color="primary">
    <ion-button id="backButton" fill="clear" (click)="voltar()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Efeitos da pratica</ion-title>      
  </ion-toolbar>
</ion-header> 

<ion-content color="tertiary">
  <ion-item lines="none">
    <ion-label slot="start">Sonolento</ion-label>
    <ion-label class="label_end" slot="end">Alerta</ion-label>
  </ion-item>
  <ion-item lines="none" class="item_range">
    <ion-range min="1" max="5" step="1" snaps="true"  (ionChange)="segmentsonolento_alerta($event)" mode="ios">
    </ion-range>
     <ion-icon name="help" (click)="help('sonolento_alerta')"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label slot="start">Cansado</ion-label>
    <ion-label class="label_end" slot="end">Vigoroso</ion-label>
  </ion-item>
  <ion-item lines="none" class="item_range">
    <ion-range min="1" max="5" step="1" snaps="true"  (ionChange)="segmentcansado_vigoroso($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('cansado_vigoroso')"></ion-icon>    
  </ion-item>

  <ion-item lines="none" >
    <ion-label slot="start">Inseguro</ion-label>
    <ion-label class="label_end_maior" slot="end">Confiante</ion-label>
  </ion-item>
  <ion-item lines="none" class="item_range">
    <ion-range min="1" max="5" step="1" snaps="true"  (ionChange)="segmentinseguro_confiante($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('inseguro_confiante')"></ion-icon>
  </ion-item>

  <ion-item lines="none" >
    <ion-label slot="start">Preocupado</ion-label>
    <ion-label class="label_end_maior" slot="end">Tranquilo</ion-label>
  </ion-item>
  <ion-item lines="none" class="item_range">
    <ion-range min="1" max="5" step="1" snaps="true"  (ionChange)="segmentPreocupado_tranquilo($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('preocupado_tranquilo')"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label slot="start">Frustrado</ion-label>
    <ion-label slot="end">Feliz</ion-label>
  </ion-item>
  <ion-item lines="none" class="item_range">
    <ion-range min="1" max="5" step="1" snaps="true"  (ionChange)="segmenttriste_feliz($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('frustrado_feliz')"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label slot="start">Desmotivado</ion-label> 
    <ion-label class="label_end" slot="end">Motivado</ion-label>
  </ion-item>
  <ion-item lines="none" class="item_range">
    <ion-range min="1" max="5" step="1" snaps="true"  (ionChange)="segmentdesmotivado_motivado($event)" mode="ios">
    </ion-range>
    <ion-icon name="help" (click)="help('desmotivado_motivado')"></ion-icon>
  </ion-item>

  <ion-button id="botao_confirmar" (click)="concluir()" shape="round" color="secondary">
    <!-- [disabled]="!valido"> -->
    Confirma
  </ion-button>
 
</ion-content>
