<ion-header>
  <ion-toolbar>
    <ion-button shape="round" (click)="voltar()">
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
    </ion-button>
    <ion-title>estatistica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Vitorias e derrotas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Pontos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>


</ion-content>