
.foto{
    display: flex;
    height: 40%; 
     
}
#lut{
 border: 20px;
 border-color: blueviolet;
  
}

ion-avatar{
width:   100% !important;  
height : 100% !important;  
max-width: 200px !important;  //any size
max-height: 200px !important; //any size 
margin: auto;
}

.foto{
    margin-bottom: 30%;  
}