
<ion-content padding>
  <div  class="foto" >  
    <ion-avatar  (click)="openMenu()">
        <img id="fotoButton" src="" alt="">
      </ion-avatar>
  </div>
  
  <ion-button expand="block"  id="lut" (click)="novaLuta()">
    <img src="https://img.icons8.com/metro/26/000000/royal-marines.png">
    Novo Jogo
  </ion-button>
  <ion-button expand="block" (click)="historico()"  >
    <img src="https://img.icons8.com/metro/26/000000/rules.png">
    Minhas Lutas
  </ion-button> 
  
  
</ion-content>

