<ion-header >
  <ion-toolbar color="primary">
    <ion-button id="logoutButton" fill="clear" (click)="openMenu()">
      <!-- <ion-avatar>
        <img *ngIf="fotoPerfilURL" src="http://ucarecdn.com/{{ fotoPerfilURL }}/" >
      </ion-avatar> -->
        <ion-icon name="menu"></ion-icon>
    </ion-button>  
    <ion-title>Esgrima Traning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div  id="div-avatar" >  
    <ion-avatar  (click)="openMenu()">
      <img id="fotoButton" src="..\assets\img\Logo-07.png" alt="">
    </ion-avatar>
  </div>
  
  
  <ion-button  id="lut" (click)="novaLuta()" shape="round" >
    Novo Jogo
  </ion-button>
  <br>
  <ion-button  (click)="historico()" shape="round" color="tertiary" >
    Meus Jogos
  </ion-button> 
  <br>
  <ion-button id="bt_minhas_estatisticas" (click)="estatistica()"  shape="round" color="tertiary">
    Estatísticas
  </ion-button> 
  <ion-button (click)="presentModal2()"  shape="round" color="tertiary">
    Oponentes
  </ion-button> 
</ion-content>

 