ion-toolbar {
    color: white;
    // --padding-top: 5%;
    padding-bottom: 5%;
}
ion-title{
    text-align: center;
    font-size: 110%; 
    font-weight: bold;
    width: 80%;
    margin: auto;
}


ion-toolbar {
    ion-button{ 
    position: static;
    margin-left: 80%;
    font-size: 250%;
    --padding-start : 30%;
    color: white;
    margin-bottom: -7%;
    }
    
}

ion-content{
    margin-top: 100%;
    text-align: center;
}
ion-avatar{
    width:   150% !important;  
    height : 150% !important;  
    max-width: 450px !important;  //any size
    max-height: 450px !important; //any size 
    margin: auto;
    }
    
#div-avatar{
    margin-top: 0%;
    display: flex;
    height: 40%; 
    margin-bottom: 30%;   
     
} 
#fotoButton{

    max-width: 100%; 
    max-height: 45vh; 
    margin: auto;
    margin-top: 15px;
    --border-radius: 0;
}

#lut{
 margin-top: 9%;
 border: 20px;
 border-color: blueviolet;
   
}
ion-content ion-button{
    width: 45%;
    height : 6%;
    margin-top: 5%;
    font-family: "Noto Sans",  sans-serif; ;
    font-size: 102%;
    font-weight: bold;
    letter-spacing: 0px;

}

#bt_minhas_estatisticas{
    white-space: pre-line;
}
// Noto Sans
// - Noto Serif
// - Built Tiltiling



