.foto>ion-menu-button{
    width: 200%;
    margin: 0;
    height: 100%; 
    border-radius: 80%;
}
.foto{
    display: flex;
    height: 40%;
     
}
#lut{
 border: 20px;
 border-color: blueviolet;
  
}