<ion-header >
  <ion-toolbar color="primary">
    <ion-button id="logoutButton" fill="clear" (click)="voltar()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>  
    <ion-title>Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div  id="div-avatar" >  
    <ion-avatar  (click)="openMenu()">
      <img id="fotoButton" src="..\assets\img\Logo-07.png" alt="">
    </ion-avatar>
  </div>
  
  
  <ion-button  id="lut" (click)="novaLuta()" shape="round" >
    Novo Jogo
  </ion-button>
  <br>
  <ion-button  (click)="historico()" shape="round" color="tertiary" >
    Meus Jogos
  </ion-button> 
  <br>
  <ion-button id="bt_minhas_estatisticas" (click)="estatistica()"  shape="round" color="tertiary">
    Minhas Estatisticas
  </ion-button> 
</ion-content>

