<ion-header>
  <ion-toolbar>
    <ion-title>tesste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <img id="clipped" src="https://mdn.mozillademos.org/files/12668/MDN.svg"
  alt="MDN logo"> -->
  <!-- <ion-button id="clipped"></ion-button> 
  <svg height="0" width="0">
    <defs>
      <clipPath id="cross" clipPathUnits="objectBoundingBox">
        <path d="M0.5,1
        C 0.5,1,0,0.7,0,0.3
        A 0.25,0.25,1,1,1,0.5,0.3
        A 0.25,0.25,1,1,1,1,0.3
        C 1,0.7,0.5,1,0.5,1 Z" />
      </clipPath>
    </defs>
  </svg> -->
  
  <ion-button id="capacete"></ion-button>
  <svg height="0" width="0">
    <defs>
      <clipPath id="cap" clipPathUnits="objectBoundingBox">
        <path d="M0.5,1
        A 0.25,0.25,1,1,0,0.5,0.5
        "

         />
      </clipPath>
    </defs>
  </svg>

</ion-content>
<!-- C 0.5,1,0,0.7,0,0.3
A 0.25,0.25,1,1,1,0.5,0.3
A 0.25,0.25,1,1,1,1,0.3
C 1,0.7,0.5,1,0.5,1 Z -->