<ion-header >
  <ion-toolbar color="primary">
    <ion-button id="backButton" fill="clear" (click)="voltar()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>NOVA CONTA</ion-title>      
  </ion-toolbar>
</ion-header>
 
<ion-content padding color="tertiary">
  
  
  <ion-avatar >
    <ion-label id="foto">INSERIR<br>FOTO</ion-label>
    <img id="icon" src="" alt="">
  </ion-avatar>
  
  <form [formGroup]="registroForm"> 
    <ion-item>
      <ion-input
      text-center
      placeholder="Nome"
      formControlName="nome"
      type="text"
      [class.invalid]="registroForm.controls['nome'].valid &&
      registroForm.controls['nome'].touched"
      >
    </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input
    text-center
    placeholder="Clube"
    formControlName="clube"
    type="text"
    [class.invalid]="registroForm.controls['clube'].valid &&
    registroForm.controls['clube'].touched"
    >
  </ion-input>
</ion-item>

<ion-item>
  <ion-input
  text-center
  placeholder="Email"
  formControlName="email"
  type="email"
  [class.invalid]="registroForm.controls['email'].valid &&
  registroForm.controls['email'].touched"
  >
</ion-input>
</ion-item>

<ion-item>
  <ion-input
  text-center
  placeholder="Senha"
  formControlName="senha"
  type="password"
  [class.invalid]="!registroForm.controls['senha'].valid &&
  registroForm.controls['senha'].touched">
</ion-input>
</ion-item>

<ion-item>
  <ion-input
  text-center
  placeholder="Confirmar Senha"
  formControlName="confSenha"
  type="password"
  [class.invalid]="!registroForm.controls['senha'].valid &&
  registroForm.controls['senha'].touched">
</ion-input>
</ion-item>


<ion-button
shape="round"
expand="block"
color="secondary"
(click)="registrarUser(registroForm)"
[disabled]="!registroForm.valid"
>
Criar conta
</ion-button>
</form>

</ion-content>


