<ion-header>
  <ion-toolbar>
    <ion-button shape="round" (click)="voltar()">
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
</ion-header>
 
<ion-content>  
  <div class="labels">
  <ion-label id="placar">{{meuNome}} X {{nomeOponente}}<br></ion-label>
  <ion-label>{{totalPontos1}} X {{totalPontos2}}</ion-label>
  </div> 
  
  <div id="tabela">  
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list >
              <ion-list-header>
                Pontos feitos
              </ion-list-header>
              <ion-item (click)="detalhaPontos(pontos)"  *ngFor="let pontos of pontosLutador2">
                <ion-label>{{pontos.nomeLocalCorpo}}</ion-label>
                <ion-note slot="end">{{pontos.quantidadeAcertos}}</ion-note>
              </ion-item>
            </ion-list>       
          </ion-col>
     
          <ion-col>
            <ion-list >
              <ion-list-header>
                Pontos sofridos
              </ion-list-header>
              <ion-item  (click)="detalhaPontos(pontos)" *ngFor="let pontos of pontosLutador1">
                <ion-label>{{pontos.nomeLocalCorpo}}</ion-label>
                <ion-note slot="end">{{pontos.quantidadeAcertos}}</ion-note>
              </ion-item>
            </ion-list>
          </ion-col>      
        </ion-row>
      </ion-grid>      
   </div>

   <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Pontuação geral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChartPontuacaoGeral></canvas>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Caracteristicas adversario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #radarChartPerfilAdversario></canvas>
    </ion-card-content>
  </ion-card> -->
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Avaliação do adversario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #radarChartAvaliarAdversario></canvas>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Minha auto avaliação</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #radarChartAutoAvaliar></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Efeitos da pratica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #radarChartEfeitoPratica></canvas>
    </ion-card-content>
  </ion-card>
  
</ion-content>
