p {
 white-space: pre-line;
}
#tabela{
    border: 3px;
    border-color: black;
}
#tituloLuta{
    justify-content: center;
}
#butDetalhada{
    
    padding-right: 0px;
}
#butTabela{

    padding-left: 0px;

}