<ion-header>
    <ion-toolbar>
      <ion-button shape="round" (click)="voltar()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </ion-button>
      <ion-button shape="round" class="Filtro">
        <ion-icon name="options-sharp"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>  

<ion-content padding>  
  <div id="lutas">   
    
    <div class="luta" *ngFor="let lutadores of lutas">
      
      <ion-card (click)="selecionaLuta(lutadores.idLuta)">
        <ion-card-header  >
          <ion-card-subtitle>
            <ion-toolbar >
              {{lutadores.tipoJogo}}
            </ion-toolbar>
            <ion-toolbar>
              <ion-label>
                {{lutadores.data}}
              </ion-label>
              <ion-label class="hora">
                {{lutadores.hora}}
              </ion-label>
            </ion-toolbar>            
            {{lutadores.clube1}}  X  {{lutadores.clube2}}
            </ion-card-subtitle>
          <ion-card-title>{{lutadores.nome1}} X {{lutadores.nome2}}</ion-card-title>
        </ion-card-header>
          <ion-list>
            <ion-item>
              <ion-label>Punhos:{{lutadores.punho1}}  X  {{lutadores.punho2}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Altura:{{lutadores.altura_relativa}}</ion-label>
            </ion-item>
          </ion-list>
      </ion-card> 
    </div>
  </div>

</ion-content>
