<ion-header>
    <ion-toolbar>
      <ion-button shape="round" (click)="voltar()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>  

<ion-content padding>  
  <div id="lutas">   
    
    <div class="luta" *ngFor="let op of userProfile?.lutadores; let i = index">
      
      <ion-card (click)="selecionaLuta(i)">
        <ion-card-header  >
          <ion-card-subtitle>{{op.clube1}}  X  {{op.clube2}}</ion-card-subtitle>
          <ion-card-title>{{op.nome1}} X {{op.nome2}}</ion-card-title>
        </ion-card-header>
          <ion-list>
            <ion-item>
              <ion-label>Punhos:{{op.punho1}}  X  {{op.punho2}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Altura:{{op.altura_relativa}}</ion-label>
            </ion-item>
          </ion-list>
      </ion-card>
    
      
    </div>
  </div>

</ion-content>
