#lutas{
    display: flex;
    flex-wrap: wrap;
}

.luta{
    width: 85%;
    margin-right: auto; 
    margin-left: auto;

}
.hora{
    position: absolute;
    right: 0%;
}

.tipoJogo{
    position: absolute;
    // margin-right: auto; 
    // margin-left: auto;
    font-size: 100%;
}

.Filtro{
    position: absolute;
    // margin-right: auto; 
    // margin-left: auto;
    right: 0%;
}