// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

// #nopadding{
//     padding-top: 0;
// }
#lista{
    padding: 0;  
}
ion-toolbar{
    --padding-top: 15%;
    padding-bottom: 5%;
    color: white;
    white-space: nowrap;

} 

ion-title{
    text-align: center;
    font-size: 110%; 
    font-weight: bold;
    width: 80%;
    margin: auto;
} 
ion-menu ion-item{
    border: solid 2px black;
}

