<ion-header >
  <ion-toolbar color="primary">
    <ion-button id="backButton" fill="clear" (click)="voltar()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>FILTRO</ion-title> 
    <ion-button shape="round" color="secondary" id="limpa_filtro" (click)="limpaFiltro()">
      Limpar<br>filtros
    </ion-button>      
  </ion-toolbar> 
</ion-header>  
 
<ion-content color="tertiary">
  <ion-radio-group id="tipo_jogo" (ionChange)="radioChangeTipoJogo($event)" allowEmptySelection="true">
    <ion-list-header>
      <ion-label>Tipo de jogo</ion-label>
    </ion-list-header>
    <ion-item  >
      <ion-label>Treinamento</ion-label>
      <ion-radio slot="start"  value="treinamento"></ion-radio>
    </ion-item>
    <ion-item >
      <ion-label>Campeonato</ion-label>
      <ion-radio slot="start"  value="campeonato"></ion-radio>
    </ion-item>
  </ion-radio-group>
  
  <ion-radio-group id="etapa_campeonato" (ionChange)="radioChangeEtapaCampeonato($event)" allowEmptySelection="true"> 
    <ion-list-header>
      <ion-label>Etapa Campeonato</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Poule</ion-label>
      <ion-radio slot="start"  value="poule"></ion-radio>
    </ion-item>
    <ion-item >
      <ion-label>Eliminatoria</ion-label>
      <ion-radio slot="start"  value="eliminatoria"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-radio-group id="etapa_eliminatoria" (ionChange)="radioChangeEtapaEliminatoria($event)" allowEmptySelection="true">
    <ion-list-header>
      <ion-label>Etaoa eliminatoria</ion-label>
    </ion-list-header>
    <ion-item  >
      <ion-label>64</ion-label>
      <ion-radio slot="start"  value="64"></ion-radio>
    </ion-item>
    <ion-item >
      <ion-label>32</ion-label>
      <ion-radio slot="start" value="32"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>16</ion-label>
      <ion-radio slot="start" value="16" ></ion-radio>
    </ion-item>
    <ion-item value="8">
      <ion-label>8</ion-label>
      <ion-radio slot="start" value="8"></ion-radio>
    </ion-item>
    <ion-item >
      <ion-label>Semi-final</ion-label>
      <ion-radio slot="start" value="semifinal"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Final</ion-label>
      <ion-radio slot="start"  value="final"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-button [disabled]="filtroEscolhido" shape="round" id='botao_confirmar' (click)="dismiss()"  color="secondary">
    APLICAR FILTROS
  </ion-button>

</ion-content>
