ion-toolbar{
    --padding-top: 15%;
    padding-bottom: 5%;
    color: white;
    white-space: nowrap;
} 

ion-title{
    text-align: center;
    font-size: 110%; 
    font-weight: bold;
    width: 80%;
    padding-bottom: 2%;
    margin: auto;
}

ion-toolbar ion-button{
    position: absolute;
    color: white;   
}
#limpa_filtro{
    margin-top: -8%;
    font-size: 70%;
    right: 0; 
}
#backButton{
    margin-top: -2%;
    font-size: 130%;  
    --padding-start : 20%;
}
ion-content{
    text-align: center; 
    font-size: 110%; 
}
ion-content ion-label{
    font-size: 110%;
}
ion-item{
    --background: var(--ion-color-tertiary);
    ion-label{
        font-size: 110%;
        --color: var(--ion-color-primary);
        font-weight: 600;
    }
}
#botao_confirmar{
    position: absolute;
    bottom: 2%;
    margin-left: -22%;
    --border-style: none;

}