<ion-header>
  <ion-toolbar color="primary">
    <ion-button id="backButton" fill="clear" (click)="voltar()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Auto-avaliacao</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content color='tertiary'>
  
  <ion-item class="titulo" lines="none">
    <ion-label>Confiante</ion-label>
  </ion-item> 
  <ion-item class="item_range" lines="none">
    <ion-range value="3" min="1" max="5" step="1" snaps="true" (ionChange)="rangeConfiante($event)"mode="ios">
      <ion-label slot="start">Pouco</ion-label>
      <ion-label slot="end">Muito</ion-label>
    </ion-range>
  </ion-item>
  
  <ion-item class="titulo" lines="none">
    <ion-label >Estressado</ion-label>
  </ion-item>
  <ion-item class="item_range" lines="none">
    <ion-range value="3" min="1" max="5" step="1" snaps="true" (ionChange)="rangeEstressado($event)"mode="ios">
      <ion-label slot="start">Pouco</ion-label>
      <ion-label slot="end">Muito</ion-label>
    </ion-range>
  </ion-item>
  
  <ion-item class="titulo" lines="none"mode="ios">
    <ion-label>Focado/Alerta</ion-label>
  </ion-item>
  <ion-item class="item_range" lines="none">
    <ion-range value="3" min="1" max="5" step="1" snaps="true"(ionChange)="rangeFocado($event)"mode="ios">
      <ion-label slot="start">Pouco</ion-label>
      <ion-label slot="end">Muito</ion-label>
    </ion-range>
  </ion-item>
  
  <ion-item class="titulo" lines="none">
    <ion-label>Motivado/Comprometido</ion-label>
  </ion-item>
  <ion-item class="item_range" lines="none">
    <ion-range value="3" min="1" max="5" step="1" snaps="true" (ionChange)="rangeMotivado($event)"mode="ios">
      <ion-label slot="start">Pouco</ion-label>
      <ion-label slot="end">Muito</ion-label>
    </ion-range>
  </ion-item>
  
  <ion-item class="titulo" lines="none">
    <ion-label>Controlado</ion-label>
  </ion-item>
  <ion-item class="item_range" lines="none">
    <ion-range value="3" min="1" max="5" step="1" snaps="true" (ionChange)="rangeControlado($event)"mode="ios">
      <ion-label slot="start">Pouco</ion-label>
      <ion-label slot="end">Muito</ion-label>
    </ion-range>
  </ion-item>
  
  <ion-item class="titulo" lines="none">
    <ion-label>Disciplinado/Planejado</ion-label>
  </ion-item>
  <ion-item class="item_range" lines="none">
    <ion-range value="3" min="1" max="5" step="1" snaps="true" (ionChange)="rangeDisciplinado($event)"mode="ios">
      <ion-label slot="start">Pouco</ion-label>
      <ion-label slot="end">Muito</ion-label>
    </ion-range>
  </ion-item>
  
  
  <ion-button id="botao_confirmar" shape="round" color="secondary" (click)="cadastro()" mode="ios">
    Confirma
  </ion-button>
  
</ion-content>