<ion-header>

</ion-header>  

<ion-content padding>
  <ion-label>Em relação à {{nomeLut1}}, {{nomeLut2}} é</ion-label>
  <div class="Altura">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="movimento" id="alt1" (click)="marcaAlt(1)">Maior</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="movimento" id="alt2" (click)="marcaAlt(2)"> Altura <br> parecida</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="movimento" id="alt3" (click)="marcaAlt(3)">Menor</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-label>{{nomeLut2}} é</ion-label>
  <div class="Punholut2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="movimento" id="punhLut21" (click)="marcaPunhLut2(1)">Destro</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="movimento" id="punhLut22" (click)="marcaPunhLut2(2)">Canhoto</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-label>{{nomeLut2}} é</ion-label>
  <div class="Agressividade">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="movimento" id="agressividade1" (click)="marcaAgressividade(1)">Agressivo</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="movimento" id="agressividade2" (click)="marcaAgressividade(2)">Cauteloso</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  
  <ion-button (click)="cadastro()" expand="block"
  [disabled]="!valido"> Confirma
</ion-button>





</ion-content>
