<ion-header> 
  <ion-toolbar color="primary">
    <ion-button id="backButton" fill="clear" (click)="voltar()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>CARACTERISTICA DO <br> OPONENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color='tertiary'>

  <ion-label>Altura do {{nomeLut2}} em relação à mim é</ion-label>
  <div >
    <ion-button class="altura" id="menor" shape="round" color="primary" (click)="segmentAltura('menor')">
      <ion-label>Menor</ion-label>
    </ion-button> 
    <ion-button class="altura" id="altura_parecida" shape="round" (click)="segmentAltura('altura_parecida')">
      <ion-label>Altura <br> parecida</ion-label>
    </ion-button>
    <ion-button class="altura" id="maior" shape="round" (click)="segmentAltura('maior')">
      <ion-label >Maior</ion-label>
    </ion-button>   
  </div>
  
  <hr width="80%">
  
  <ion-label>Punho dominante</ion-label>
  <div >
    <ion-button class="punho_dominante" id="destro" shape="round" color="primary" (click)="segmentPunho('destro')">
      <ion-label>Destro</ion-label>
    </ion-button> 
    <ion-button class="punho_dominante" id="canhoto" shape="round" (click)="segmentPunho('canhoto')">
      <ion-label>Canhoto</ion-label>
    </ion-button>
  </div>
  
  <hr width="80%">
  
  <ion-label>Empunhadura</ion-label>
  <div>
    <ion-button class="empunhadura" id="anatomica" shape="round" color="primary" (click)="segmentEmpunhadura('anatomica')">
      <ion-label>Anatômica</ion-label>
    </ion-button> 
    <ion-button class="empunhadura" id="frances" shape="round"  (click)="segmentEmpunhadura('frances')">
      <ion-label>Francês</ion-label>
    </ion-button>
  </div>

  
  <hr width="80%">
  
  <ion-label>Tatica predominante</ion-label>
  <div>
    <ion-button class="tatica_predominante" id="tatica_predominante_atacante" shape="round" color="primary" (click)="segmentTaticaPredominante('atacante')">
      <ion-label class="foto">Atacante</ion-label>
    </ion-button> 
    <ion-button class="tatica_predominante" id="tatica_predominante_contra-atacante" shape="round" (click)="segmentTaticaPredominante('contra-atacante')">
      <ion-label>Contra-<br>atacante</ion-label>
    </ion-button>
    <ion-button class="tatica_predominante" id="tatica_predominante_defensivo" shape="round" (click)="segmentTaticaPredominante('defensivo')">
      <ion-label>Defensivo</ion-label>
    </ion-button>
  </div>
  
  <hr width="80%">
  
  <ion-label>Nivel tecnico</ion-label>
  <div>
    <ion-button class="nivel_tecnico" id="nivel_tecnico_iniciante" shape="round" color="primary" (click)="segmentNivelTecnico('iniciante')">
      <ion-label>Iniciante</ion-label>
    </ion-button>
    <ion-button class="nivel_tecnico" id="nivel_tecnico_intermediario" shape="round" (click)="segmentNivelTecnico('intermediario')">
      <ion-label>Intermediario</ion-label>
    </ion-button>
    <ion-button class="nivel_tecnico" id="nivel_tecnico_defensivo" shape="round" (click)="segmentNivelTecnico('defensivo')">
      <ion-label>Avançado</ion-label>
    </ion-button>
  </div>

  <hr width="80%">
  
  <ion-button shape="round" id='botao_confirmar' (click)="cadastro()"  color="secondary">
    Confirmar
  </ion-button>
  
  
  
  
  
</ion-content>
