.imgLuta{
    height: 290px;
    display:inline-block;
    --background: url(../../../assets/img/concatesgrim.png) 0 0/100% 100% no-repeat;
    
    background-size: cover;
    
}
#lutadores{
    height: 100%;
}
.concluir{
    position: absolute;
    right: 0%;
}

#localCorpo1{
    position: absolute;
    top: -2%;
    left: 10%;    

}
#localCorpo2{
    position: absolute;
    top: 9%;
    left: -1%; 
    
}
#localCorpo3{
    position: absolute;
    top: 30%;
    left: 10%; 

}
#localCorpo4{
    position: absolute;
    top: 30%;
    left: 23%; 

}
#localCorpo5{
    position: absolute;
    top: 53%;
    left: 6%; 

}
#localCorpo6{
    position: absolute;
    top: 53%;
    left: 20%; 

}
#localCorpo7{
    position: absolute;
    top: 80%;
    left: 6%; 
}
#localCorpo8{
    position: absolute;
    top: 80%;
    left: 22%; 
     
}
#localCorpo9{
    position: absolute;
    top: -2%;
    right: 10%; 
}
#localCorpo10{
    position: absolute;
    top: 9%;
    right: -1%; 
}
#localCorpo11{
    
    position: absolute;
    top: 30%;
    right: 10%; 

}
#localCorpo12{
    
    position: absolute;
    top: 30%;
    right: 23%; 

}
#localCorpo13{
    
    position: absolute;
    top: 53%;
    right: 10%; 

}
#localCorpo14{
    
    position: absolute;
    top: 53%;
    right: 27%;
 
}
#localCorpo15{
    position: absolute;
    top: 80%;
    right: 5%;

}
#localCorpo16{
    position: absolute;
    top: 80%;
    right: 21%;


}
.cabeca{
  
    --border-radius: 20px;
    width: 15%;
    height: 30%;

}
.braco_esquerdo{
    --border-radius: 20px;
    width: 0,25%;
    height: 30%;

}
.tronco{
    --border-radius: 20px;
    width: 12%;
    height: 22%;
    
}
.braco_direito{
    --border-radius: 20px;
    width: 15%;
    height: 15%;
}
.perna_esquerda{
    --border-radius: 30px;
    width: 5%;
    height: 30%;

}
.perna_direita{
    --border-radius: 20px;
    width: 1%;
    height: 30%;
}
.pe_direito{

}
.pe_esquerda{

}
.labels{
    margin-top: -5%;

}

#lutadores>ion-row{
    height: 100%;
}
.Ataques>ion-grid>ion-row>ion-col{
 width: 25%;
 
}
.movimento{
    font-size: 65%;
    width: 112%;
}
.arena>ion-grid>{
    height: 30%;
}
.arena>ion-grid>ion-row>ion-col{
    
    margin: 0%;
    padding: 0%;
}
.toqueduplo>ion-button{
    margin: auto;
}
.colalerta{

} 
.colnormal{

}
.coluniao{
    
}
#ef1{
    margin-left: 40% ;
}


.alerta{
    width: 100%;
    --background : red;
}
.normal{
    width: 100%;
}
.uniao{
    width: 100%;
   
}
.labels{
    text-align: center;
    font-size: 120%;
    margin-top: 5%;
    
}