#lutadores{
    height: 290px;
}
.Ataques>ion-grid>ion-row>ion-col{
 width: 25%;
 
}
.movimento{
    font-size: 65%;
    width: 112%;
}
.arena>ion-grid>{
    height: 30%;
}
.arena>ion-grid>ion-row>ion-col{
    
    margin: 0%;
    padding: 0%;
}
.toqueduplo>ion-button{
    margin: auto;
}
.colalerta{

} 
.colnormal{

}
.coluniao{
    
}


.alerta{
    width: 100%;
    --background : red;
}
.normal{
    width: 100%;
}
.uniao{
    width: 100%;
   
}