<ion-header>
  <ion-toolbar>
    <ion-button shape="round"  (click)="voltar()">
      <ion-icon slot="icon-only" name="arrow-dropleft-circle"></ion-icon>
    </ion-button>
    
    <ion-button shape="round" class="concluir" (click)="Concluir()">
      Concluir 
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="body" padding>
  
  <ion-content class="imgLuta">
    <div class="labels">
      <ion-label>
        {{lutador1}}  X  {{lutador2}}<br>
      </ion-label>
      <ion-label>
        {{pontoLutador1}}  X  {{pontoLutador2}}
      </ion-label>
    </div>
    
    <ion-button class="cabeca" id="localCorpo1" (click)="marcalocalCorpo(1)"></ion-button>
    <ion-button class="braco_esquerdo" id="localCorpo2" (click)="marcalocalCorpo(2)"></ion-button>
    <ion-button class="tronco" id="localCorpo3" (click)="marcalocalCorpo(3)"></ion-button>
    <ion-button class="braco_direito" id="localCorpo4" (click)="marcalocalCorpo(4)"></ion-button>
    <ion-button class="perna_esquerda" id="localCorpo5" (click)="marcalocalCorpo(5)"></ion-button>
    <ion-button class="perna_direita" id="localCorpo6" (click)="marcalocalCorpo(6)"></ion-button>
    <ion-button class="pe_esquerdo" id="localCorpo7" (click)="marcalocalCorpo(7)"></ion-button>
    <ion-button class="pe_direita" id="localCorpo8" (click)="marcalocalCorpo(8)"></ion-button>
    <!-- <ion-avatar class="falta" id="falta1" (click)="marcaFalta(1)">F</ion-avatar> -->
    
    
    <ion-button class="cabeca" id="localCorpo9" (click)="marcalocalCorpo(9)"></ion-button>
    <ion-button class="braco_esquerdo" id="localCorpo10" (click)="marcalocalCorpo(10)"></ion-button>
    <ion-button class="tronco" id="localCorpo11" (click)="marcalocalCorpo(11)"></ion-button>
    <ion-button class="braco_direito" id="localCorpo12" (click)="marcalocalCorpo(12)"></ion-button>
    <ion-button class="perna_esquerda" id="localCorpo13" (click)="marcalocalCorpo(13)"></ion-button>
    <ion-button class="perna_direita" id="localCorpo14" (click)="marcalocalCorpo(14)"></ion-button>
    <ion-button class="pe_esquerdo" id="localCorpo15" (click)="marcalocalCorpo(15)"></ion-button>
    <ion-button class="pe_direita" id="localCorpo16" (click)="marcalocalCorpo(16)"></ion-button>
    <!-- <ion-avatar class="falta" id="falta2" (click)="marcaFalta(2)">F</ion-avatar> -->
    
  </ion-content>
  <div class="Ataques">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="movimento" id="ataque1" (click)="marcaAtaque(1)">Ataque</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="movimento" id="ataque2" (click)="marcaAtaque(2)">Resposta</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="movimento" id="ataque3" (click)="marcaAtaque(3)">Contra <br>Resposta</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="movimento" id="ataque4" (click)="marcaAtaque(4)">Contra<br> Ataque</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="toqueduplo">
        <ion-button id="ataque5" (click)="marcaAtaque(5)">Toque Duplo</ion-button>
      </ion-row>
    </ion-grid>
  </div>
  
  <div class="arena">
    <ion-grid>
      <ion-row>
        <ion-col size="1" > 
          <ion-button class="alerta"  id="pista1" (click)="marcaPista(1)"></ion-button>
        </ion-col>
        <ion-col size="4" >
          <ion-button class="normal" id="pista2" (click)="marcaPista(2)"></ion-button>
        </ion-col>
        <ion-col size="2" >
          <ion-button class="uniao" id="pista3" (click)="marcaPista(3)"></ion-button>
        </ion-col>
        <ion-col size="4" >
          <ion-button class="normal" id="pista4" (click)="marcaPista(4)"></ion-button>
        </ion-col>
        <ion-col  size="1">
          <ion-button class="alerta" id="pista5" (click)="marcaPista(5)"></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
  
  <ion-button (click)="proximo()" expand="block">
    Proximo Movimento
  </ion-button>
</ion-content>